@import "./resets";
@import "./variables";
@import "./mixins";

body {
  @include flex-center();

  position: relative;
  height: 100vh;
  width: 100vw;

  font-size: 65px;

  overflow: hidden;
  background-color: $default-red;
}
section {
  @include flex-center();

  position: relative;
  margin: 0 auto;

  height: 500px;
  width: 500px;

  font-size: 45px;

  background-color: lightgreen;
}
article {
  @include flex-center();

  position: relative;
  margin: 0 auto;

  height: 300px;
  width: 300px;

  font-size: 35px;

  background-color: lightgoldenrodyellow;
}
p {
  position: absolute;
  top: 10px;
  left: 10px;

  color: black;
}
button {
  height: 80px;
  width: 150px;

  font-size: 30px;

  background-color: rgb(153, 245, 245);
  border: none;
}
